* {
  margin: 0;
  padding: 0;
}

.glass {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(5.9px);
  border: 1px solid rgba(255, 255, 255, 0.45);
}

.background-image {
  background-image: url("./../../images/turtle.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.background-image-two {
  background-image: url("./../../images/edited.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
